
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
 /* ===============================================nav  */
 #navbarMenu{
  gap:40px;
  text-align:center;
}
nav {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid #4b1208;
  perspective: 800px;
}
nav a , #navbarMenu a{
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-shadow: none;
  display: flex;
  justify-content: center;
}
footer a,#navbarMenu a {
  
  color: #ffffff;
  text-shadow: none;
  width:100%;
  display:flex;
  justify-content:center;

}


.flip {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

nav a:hover .flip {
  transform: rotatey(180deg);
  text-transform: uppercase;
  font-weight: 900;
}

.front,
.back {
  display: block;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
    /* ===============================================nav  */
  /* offset para anclas cuando hay menú fijo */
:target { 
  scroll-margin-top: 40px; 
}

/* ===== HEADER ===== */

#header { 
  z-index: 100000; 
}

.container_top { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
  padding-bottom: 15px;
}

#container_top {
  transition: background-color 0s ease;
}

/* ===== LOGO ===== */

.imgLogo_v2 {
  max-height: 100px;
  filter: invert(1);
}

.logo-principal {
  text-align: center;
  margin-top: 1rem;
  z-index: 1100;
  position: relative;
}
#div_menubotom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* ===== BOTÓN HAMBURGUESA ===== */


#btnHamburguesa{
    max-width: 50px;
    border: none;
    font-size: 2rem;
    color: #ffffff8f;
    filter: drop-shadow(2px 4px 6px black);
}
#btnHamburguesa:hover{
    font-size: 2.5rem;
    color: #ffffff;
}
i,a{
    text-decoration: none;
}


/* ===== MENÚ HAMBURGUESA ===== */

#navbarMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(8px);

  z-index: 300000;
  visibility: hidden;
}

/* overlay cuando se abre el menú */

.menu-overlay {
  padding-top: 10px;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.7) 100%
  );

  backdrop-filter: blur(8px);
}

/* ===== MENÚ DESKTOP ===== */

/* ===== ELEMENTOS BORROSOS ===== */

.borroso {
  filter: none;
}

/* ===== FOOTER ===== */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.5rem;

  padding-top: 10px;
  padding-bottom: 10px;

  background-color: transparent;
  z-index: 1000;
}

#foot_bar {
  border-top: #4b1208 solid;
  transition: background-color 0s ease;
}
#menu_hamburguer {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 100%;
}

/* ===== MOBILE ===== */

@media (max-width: 768px) {

  /* mostrar hamburguesa */
  #menu_hamburguer {
    visibility: visible;
  }

  /* ocultar menú desktop */
  #div_menutop {
    display: none;
  }

  /* menú móvil oculto por defecto */
  #navbarMenu {
    visibility: hidden;
  }
  #navbarMenu a{
  flex: 0;

}
}

/*solopara Tagline */
.tagline,h1,h2 {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 100;
  font-size: clamp(2.5rem, 8vw, 10rem);
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-transform: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
} /* los hijos y todos se ajustan al tamano del body*/

  body, html {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  /* background-color: #262424; */
  color: #ffffff;
  text-shadow: 2px 2px 6px #252525;
}

.panel{
  height:100vh;
}

section{
  position:sticky;
  top:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

#sec_1 { z-index:1 }
#init { z-index:2 }
#about { z-index:3 }
#work { z-index:4 }
#contact { z-index:5 }

#menu_container{
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}

.boton {
  font-size: clamp(1rem , 1.5vw, 2.5rem);
  background-color: transparent;
  border: 2px solid #ffffff92;
  font-family: "Sen", sans-serif;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-weight: 100;
  color: inherit;
  flex: 1;
  text-align: center;
  color: #ffffff;
  z-index: 10000;
  position: relative; 
}
.boton:hover {
  font-weight: 900;
  letter-spacing: 0.15em;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #ffffff;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(1.85rem , 5vw, 3rem);
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}
h3 {
  font-size: clamp(1.2rem , 2vw, 2.25rem);
  z-index: 1;
  position: relative;
  text-transform: capitalize;
}
h2 {
  background-color: transparent;
  font-size: clamp(1rem , 5vw, 2.5rem);
  z-index: 1;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

/* Overlay de cuadritos */
.pixel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* 20 columnas de cuadritos */
  grid-template-rows: repeat(20, 1fr);   /* 20 filas */
  gap: 2px;
  z-index: 2;
}

.pixel-overlay div {
  background-color: #252525;
  opacity: 1;
  transition: opacity 0.3s ease;
}
/*====================================== /* Botón flotante móvil */
   
#mobile-menu-btn {
      position: fixed;
      bottom: 5rem;
      right: 2rem;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 90999;
      opacity: 0;              /* oculto por defecto */
      transition: opacity 0.3s ease;
    }
  
    #mobile-menu-btn.show {
      opacity: 1;              /* visible cuando se agrega clase .show */
    }
  #mobile-menu-btn i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5rem;
  }
  #mobile-menu-btn i:hover {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
  }
/*=========================grid general para home*/
.d_grid {
  justify-content: center; /* centra en horizontal */
  text-align: center;
}
.d_sub_grid {
  display: flex;
  gap: 1rem;
}
/*=================================SECTION 0 la Galeria*/
#init{  
  height: 100vh;;
  background-color: #252525;
}
.section-gallery {
  padding-top: 100px;
  height: 100vh; /* altura completa de la ventana */
}
.wrapp {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 1rem;
}
.d_grid0 {
  display: flex;
  height: 100%;
}

.d_sub_grid0 {
  width: 25%; /* o width: 25%; si quieres proporcional */
  min-width: 200px; /* opcional, para que no se haga muy pequeño */
  height: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem 0rem 0rem;
  /*background-image: url(/images/selfportrait/0-3.jpg);*/

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Ocultar scrollbar en la mayoría de navegadores */
body::-webkit-scrollbar #gallery {
  display: none; /* Chrome, Safari */
}
body #gallery {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#gallery {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto; /* scroll solo aquí */
  height: 100%; /* ocupar toda la sección sticky */
  padding: 1rem;
}

.gallery_grid {
  flex-wrap: wrap;
  display: flex;
  grid-template-columns: 4 1fr;
  gap: 1rem;
  grid-auto-rows: unset;
  gap: 1rem;
  height: 100%;
}

.gallery_grid img {

    /* width: 100%; */
    flex-grow: 1;
    flex-basis: 200px;
    width: 180px;
    height: auto;
    /* height: auto; */
    object-fit: cover;
    border-radius: 6px;
    /* aspect-ratio: 1 / 1; */
    transition: transform 0.3s ease;
    cursor: pointer;

}

.gallery_grid img:hover {
  transform: scale(1.05);
}
#previewImage {
  max-width: 350px;
}
#popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#popupImage {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#prevBtn {
  left: 2rem;
}
#nextBtn {
  right: 2rem;
}

/*ABOUT - gallery_1*/
#about {
  width: 100vw;
  display: flex;
  color: #252525;
  height: 100vh;

  text-shadow:none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#gallery_1 {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap; 
  gap: 1rem;
 
  align-items: center;
  text-align: center;
}
#gallery_1 img{
 width: 200px;
}

.d_work{
  flex-grow: 1;
  flex-basis: 300px;
}

/**mywork*/
/*========================================Areas of Expertise Carousel*/
#work {
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
 
}


#work::before{
  content:"";
  position:absolute;
  inset:0;
  height: 100%;
  background-image:var(--bg-image);
  background-size:cover;
  background-position:center;
  filter:blur(10px);
  transform:scale(1.1);
  background-color: #25252553;
  z-index:0;
}

#prev,
#next {
  position: absolute;
  top: unset;
  /* transform: translateY(30vh); */
  z-index: 200;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;        /* tamaño de los iconos */
}

#prev {
  left: 0rem;               /* más cerca del borde izquierdo */
}

#next {
  right: 0rem;              /* más cerca del borde derecho */
}


#carrusel-container {
  position: relative;
  width: 100%;
  /* margin: 50px auto; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#carrusel {
  position: relative;
  width: 100%;
  height: 300px;
  perspective: 1000px;
}
#carrusel img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-height: 64vh;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
/*=============================FORM*/
#contact {
  background-color: #252525;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

form {
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
}
.input-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

textarea,
input {
  overflow: hidden;
  resize: none;
  margin-bottom: 2rem;
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  line-height: 20px; /* mismo que el input */
  border: none; /* Quita todos los bordes */
  border-bottom: 2px solid #bfb6b6da; /* Solo línea inferior */
  outline: none;
  background: none;
  vertical-align: top;
  resize: none;
  color: #ffffff;
}
/* Label inicial */
label {
  font-family: "Sen", sans-serif;
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 0 4px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  pointer-events: none;
  text-transform: uppercase;
}
      /* Flotar label al tener foco, checked o si el contenedor tiene clase .has-value */
      .input-box input:focus + label, .input-box textarea:focus + label,
      .input-box input:checked + label, .input-box.has-value label,
      .input-box select:focus + label { transform: translateY(-20px); font-size: 10px; transition: 0.3s ease; }

.popup {
  display: none;
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}

.popup.active {
  display: flex;
}
.closeBtn i{
  color: #ffffff;
}
.closeBtn i:hover{font-size: 1.5rem;}
.innerpop {
  position: relative;          /* necesario para posicionar el botón dentro */
  background: rgb(34, 34, 34);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

/* Botón de cerrar */
.innerpop .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
@media (min-width: 785px) and (max-width: 1085px) {
  /* aquí van tus estilos para tablet */
  #section-gallery {
    padding: 0;
    margin: 0;
  }
  .d_grid0 {
    flex-direction: column;
  }
  .d_sub_grid0 {
    min-width: 100vw;
    margin: -1rem 0 0 0;
    padding: 0 0 0 0;
    height: fit-content;
  }
}

@media (max-width: 785px) {
  .carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 680px;
    aspect-ratio: 1 / 1;
  }
  #section-gallery {
    padding: 0;
    margin: 0;
  }
  .d_grid0 {
    flex-direction: column;
  }
  .d_sub_grid0 {
    min-width: 100vw;
    margin: -1rem 0 0 0;
    padding: 0 0 0 0;
    height: fit-content;
  }
  
.gallery_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem; /* espacio entre imágenes */
  grid-auto-rows: 1fr; /* todas las filas iguales y llenan el espacio */
  gap: 1rem;

  height: 100%; /* ocupa toda la altura disponible */
}

.gallery_grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 680px;
  aspect-ratio: 1 / 1; /*  siempre cuadrado */

  background-size: cover; /* no deforma */
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
#prev {
  left: 3rem;               /* más cerca del borde izquierdo */
}

#next {
  right: 3rem;              /* más cerca del borde derecho */
}
}