/* Declarar la fuente */

@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
/*solopara Tagline */
.tagline {
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 100;
  font-size: clamp(2.5rem, 8vw, 10rem);
  letter-spacing: 0.05em;
  line-height: 1.2;
  text-transform: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
} /* los hijos y todos se ajustan al tamano del body*/

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  /* background-color: #262424; */
  color: #ffffff;
  text-shadow: 2px 2px 6px #252525;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

#sec_1 {
  /* background-image: url(/images/01.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
section {
  position: sticky;
  height: 100vh;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #14232e; */
  padding: 4rem 1rem 0 1rem;
}
.boton {
  background-color: none;
  border: 2px solid #ffffff92;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
  font-weight: 100;
  color: inherit;
  flex: 1;
  text-align: center;
  color: #ffffff;
  z-index: 10000;
}
.boton:hover {
  font-weight: 900;
  letter-spacing: 0.15em;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #ffffff;
}

h1 {
  font-size: 4rem;
  z-index: 1;
  position: relative;
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
}
h3 {
  z-index: 1;
  position: relative;
  text-transform: capitalize;
}
h2,
.boton {
  background-color: transparent;
  font-size: 1rem;
  z-index: 1;
  position: relative;
  font-family: "Sen", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.d_grid {
  justify-content: center; /* centra en horizontal */
  text-align: center;
}
.d_sub_grid {
  display: flex;
  gap: 1rem;
}

/* Overlay de cuadritos */
.pixel-overlay,
.pixel-overlay * {
  pointer-events: none;
}
.pixel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr); /* 20 columnas de cuadritos */
  grid-template-rows: repeat(20, 1fr); /* 20 filas */
  gap: 2px;
  z-index: 90000;
}
.pixel-overlay div {
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 0.3s ease;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}


/*=================================SECTION 0*/
.section-gallery {
  height: 100vh; /* altura completa de la ventana */
}
.wrapp {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding: 1rem;
}
.d_grid0 {
  display: flex;
  height: 100%;
}

.d_sub_grid0 {
  width: 30%; /* o width: 25%; si quieres proporcional */
  min-width: 200px; /* opcional, para que no se haga muy pequeño */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 2rem 0rem 0rem;
  background-image: url(/images/01.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Ocultar scrollbar en la mayoría de navegadores */
body::-webkit-scrollbar #gallery {
  display: none; /* Chrome, Safari */
}
body #gallery {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

#gallery {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;

  overflow-y: auto; /* scroll solo aquí */
  height: 100%; /* ocupar toda la sección sticky */
  padding: 1rem;
}

.gallery_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* se adapta al ancho */
  grid-auto-rows: 1fr; /* todas las filas iguales y llenan el espacio */
  gap: 1rem;

  height: 100%; /* ocupa toda la altura disponible */
}

.gallery_grid img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajusta las imágenes al tamaño del grid */
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.gallery_grid img:hover {
  transform: scale(1.05);
}
#previewImage {
  max-width: 350px;
}
#popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

#popupImage {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#prevBtn {
  left: 2rem;
}
#nextBtn {
  right: 2rem;
}


/*ABOUT - gallery_1*/
#about {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
#gallery_1 {
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 2 columnas de cuadritos */
  background-color: #4b1208;
  gap: 1rem;
}
#gallery_1 img {
  height: 200px;
}

/**mywork*/
/*========================================Carousel*/
#work {
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}


#work::before{
  content:"";
  position:absolute;
  inset:0;
  height: 100%;
  background-image:var(--bg-image);
  background-size:cover;
  background-position:center;
  filter:blur(10px);
  transform:scale(1.1);
  background-color: #25252553;
  z-index:0;
}

#prev,
#next {
  position: absolute;       /* Posicionados respecto al contenedor del carousel */
  top: 50%;                 /* verticalmente centrados */
  transform: translateY(30vh); /* centrar exactamente respecto a su altura */
  z-index: 200;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;          /* tamaño de los iconos */
}

#prev {
  left: 5rem;               /* más cerca del borde izquierdo */
}

#next {
  right: 5rem;              /* más cerca del borde derecho */
}


#carrusel-container {
  position: relative;
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#carrusel {
  position: relative;
  width: 60%;
  height: 300px;
  perspective: 1000px;
}
#carrusel img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: auto;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-height: 64vh;
  aspect-ratio: 1 / 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
@media (max-width: 785px) {
  .carousel-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 680px;
    aspect-ratio: 1 / 1;
  }
  #section-gallery {
    padding: 0;
    margin: 0;
  }
  .d_grid0 {
    flex-direction: column;
  }
  .d_sub_grid0 {
    min-width: 100vw;
    margin: -1rem 0 0 0;
    padding: 0 0 0 0;
    height: fit-content;
  }
  #gallery {
    flex: 1;
    display: grid;
    grid-template-rows: 1 1fr;
    gap: 1rem;
    overflow-y: auto; /* scroll solo aquí */
    height: 100%; /* ocupar toda la sección sticky */
    margin-top: 2rem;
  }

  .gallery_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* se adapta al ancho */
    grid-auto-rows: 1fr; /* todas las filas iguales y llenan el espacio */
    gap: 2rem;

    height: 100%; /* ocupa toda la altura disponible */
  }
.carousel-item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 680px;
  aspect-ratio: 1 / 1; /*  siempre cuadrado */

  background-size: cover; /* no deforma */
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
}
/*=============================FORM*/
#contact {
  background-color: #252525;
}

form {
  margin-top: 20px;
  width: 100%;
  color: #ffffff;
}
.input-box {
  position: relative;
  display: inline-block;
  width: 100%;
}

textarea,
input {
  overflow: hidden;
  resize: none;
  margin-bottom: 2rem;
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  line-height: 20px; /* mismo que el input */
  border: none; /* Quita todos los bordes */
  border-bottom: 2px solid #bfb6b6da; /* Solo línea inferior */
  outline: none;
  background: none;
  vertical-align: top;
  resize: none;
  color: #ffffff;
}
/* Label inicial */
label {
  position: absolute;
  left: 12px;
  top: 12px;
  padding: 0 4px;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s ease;
  pointer-events: none;
  text-transform: uppercase;
}
      /* Flotar label al tener foco, checked o si el contenedor tiene clase .has-value */
      .input-box input:focus + label, .input-box textarea:focus + label,
      .input-box input:checked + label, .input-box.has-value label,
      .input-box select:focus + label { transform: translateY(-20px); font-size: 10px; transition: 0.3s ease; }

.popup {
  display: none;
  position: fixed;
  top:0; left:0; right:0; bottom:0;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}

.popup.active {
  display: flex;
}
.closeBtn i{
  color: #ffffff;
}
.closeBtn i:hover{font-size: 1.5rem;}
.innerpop {
  position: relative;          /* necesario para posicionar el botón dentro */
  background: rgb(34, 34, 34);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
}

/* Botón de cerrar */
.innerpop .closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}